body,html  {
    margin-left: 15%;
    margin-right: 15%;
}
h1{
    font-size: 65pt;
    line-height: 36pt;
    text-align: center;
}
h2{
    font-size: 45pt;
    line-height: 24pt;
    text-align: center;
}
a {
    font-size: 14pt;
    line-height: 24pt;
    color:rgb(190, 149, 35);
}
p, ul {
    font-size: 14pt;
    line-height: 24pt;
    color:#333;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
header, article {
    padding: 10px;
}